$font-en: "Roboto", sans-serif;
$font-ar: "Tajawal", sans-serif;

// Forward Vuetify settings with a dynamic CSS variable for the body font family
@forward "vuetify/settings" with (
  $body-font-family: var(--v-body-font-family, #{$font-en}) !default
);

// Set default values for CSS variables in the :root selector
:root {
  --v-body-font-family: #{$font-en}; // Default to English font
}
